<div class="pageheader">
    <h1 class="pagetitle">添加用户</h1>
    <div class="contentwrapper">
        <div id="validation" class="subcontent">
            <form class="stdform" novalidate="novalidate">
                <p>
                    <label for="username">用户名</label>
                    <span class="field"><input type="text" name="username" id="username" class="longinput" readonly="readonly" value="{{user.username}}" data-id="{{user.id}}"></span>
                </p>
                <p>
                    <label for="petname">昵称</label>
                    <span class="field"><input type="text" name="petname" id="petname" class="longinput" value="{{user.petname}}"></span>
                </p>
                <p>
                    <label for="password">密码</label>
                    <span class="field"><input type="password" name="password" id="password" class="longinput" value="{{user.password}}"></span>
                </p>
                <p>
                    <label for="email">Email</label>
                    <span class="field"><input type="text" name="email" id="email" class="longinput" value="{{user.email}}"></span>
                </p>
                <p>
                    <label>角色</label>
                    <span class="field">
                    <select name="isAdmin" id="isAdmin" class="valid">
                        <option value="">请选择角色</option>
                        <option value="true" {{user.isAdmin == true ? 'selected' : ''}}>管理员</option>
                        <option value="false" {{user.isAdmin == false ? 'selected' : ''}}>普通用户</option>
                    </select>
                    </span>
                </p>
                <br>
                <p class="stdformbutton">
                    <button class="submit radius2">修改</button>
                </p>
            </form>
        </div>
    </div>
</div>

<script>
    $(".stdform").submit(function(ev){
        ev.preventDefault()
        var data = $(this).serialize()
        $.post('/admin/user/edit/' + $('#username').data('id'), data, function(res){
            if(res.code == 'success'){
                $.jAlert({
                    'type':'confirm',
                    'confirmQuestion':'更新成功',
                    'confirmBtnText':'确认',
                    'denyBtnText':'关闭',
                    'theme': 'green',
                    'onConfirm':function(){
                        LoadUrl('.centercontent','/admin/users/1/');
                    },
                    'onDeny':function(){
                        LoadUrl('.centercontent','/admin/users/1/');
                    }
                });
            }else{
                $.jAlert({
                    'title': '更新失败',
                    'content': res.message,
                    'theme': 'red',
                    'btns':[ {
                        'text': '确认',
                        'theme':'red'
                    }],
                });
            }
        })
    });
</script>