<div class="pageheader">
    <h1 class="pagetitle">景点列表</h1>
    <div class="contentwrapper">
        <div class="dataTables_wrapper" id="dyntable_wrapper">
            <div id="dyntable_length" class="dataTables_length">
                <label>显示 
                    <select size="1" name="dyntable_length">
                        <option value="5" {{pageSize == 5 ? 'selected' : ''}}>5</option>
                        <option value="10" {{pageSize == 10 ? 'selected' : ''}}>10</option>
                        <option value="15" {{pageSize == 15 ? 'selected' : ''}}>15</option>
                        <option value="20" {{pageSize == 20 ? 'selected' : ''}}>20</option>
                    </select>
                     条数据
                </label>
            </div>
            <div class="dataTables_filter" id="dyntable_filter"><label>搜索: <input type="text" placeholder="请输入用户名" id="search" value="{{search}}"></label></div>
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable">
                <colgroup>
                    <col class="con0">
                    <col class="con1">
                    <col class="con0">
                    <col class="con1">
                    <col class="con0">
                </colgroup>
                <thead>
                    <tr>
                        <th class="head0" style="width: 10%">名称</th>
                        <th class="head1">地址</th>
                        <th class="head0" style="width: 35%">summary</th>
                        <th class="head0" style="width: 35%">content</th>
                        <th class="head1">编辑</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="head0">名称</th>
                        <th class="head1">地址</th>
                        <th class="head0">summary</th>
                        <th class="head0">content</th>
                        <th class="head1">编辑</th>
                    </tr>
                </tfoot>

                <tbody>
                    {{each sceneries as s i}}
                    <tr>
                        <td class="sorting_1">{{s.name}}</td>
                        <td class="address">{{s.address}}</td>
                        <td class="center">{{s.summary}}</td>
                        <td class="center">{{s.content}}</td>
                        <td><a href="javascript:void(0)" onclick="LoadUrl('.centercontent','/admin/scenery/edit/{{s.id}}')">修改</a>　　<a href="javascript:void(0)" onclick="delScenery('/admin/scenery/del/{{s.id}}')">删除</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                <span class="first paginate_button paginate_button_disabled" id="dyntable_first" onclick="getPage(1)">第一页</span>
                <span class="previous paginate_button paginate_button_disabled" id="dyntable_previous" onclick="getPage('{{page -1}}')">上一页</span>
                <span>
                    {{each pages as p}}
                        <span class="{{if p == page}}paginate_active{{else}}paginate_button{{/if}}" onclick="getPage('{{p}}')">{{p}}</span>                {{/each}}
                </span>
                <span class="next paginate_button" id="dyntable_next" onclick="getPage('{{page + 1}}')">下一页</span>
                <span class="last paginate_button" id="dyntable_last" onclick="getPage('{{pageCount}}')">最后一页</span>
            </div>
        </div>
    </div>
</div>
<script>
    $.fn.jAlert.defaults.closeOnClick = true;
    function getPage(page) {
        LoadUrl('.centercontent', '/admin/sceneries/' + page + '/' + $("select").val());
    }
    function delScenery(href){
        $.jAlert({
            'type':'confirm',
            'confirmQuestion':'确认删除？',
            'confirmBtnText':'确认',
            'denyBtnText':'取消',
            'onConfirm': function(e){
                            $.get(href,function(res){
                                if(res.code == 'success'){
                                    $.jAlert({
                                        'content': "删除成功",
                                        'theme': 'green',
                                    });
                                    getPage(1);
                                }else{
                                    $.jAlert({
                                        'content': "删除失败",
                                        'content': res.message,
                                        'theme':'red'
                                    });
                                }
                            })
                            return false;
                        },
            'onDeny':function(e){
                return false;
            }
        })
        return false;
    }
</script>