<div class="pageheader">
    <h1 class="pagetitle">用户列表</h1>
    <div class="contentwrapper">
        <div class="dataTables_wrapper" id="dyntable_wrapper">
            <div id="dyntable_length" class="dataTables_length">
                <label>显示 
                    <select size="1" name="dyntable_length">
                        <option value="5" {{pageSize == 5 ? 'selected' : ''}}>5</option>
                        <option value="10" {{pageSize == 10 ? 'selected' : ''}}>10</option>
                        <option value="15" {{pageSize == 15 ? 'selected' : ''}}>15</option>
                        <option value="20" {{pageSize == 20 ? 'selected' : ''}}>20</option>
                    </select>
                     条数据
                </label>
            </div>
           <div class="dataTables_filter" id="dyntable_filter"><label>搜索: <input type="text" placeholder="请输入用户名" id="search" value="{{search}}"></label></div>
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable">
                <colgroup>
                    <col class="con0">
                    <col class="con1">
                    <col class="con0">
                    <col class="con1">
                    <col class="con0">
                </colgroup>
                <thead>
                    <tr>
                        <th class="head0 sorting" data-property="username" data-dir="{{if order.username}}{{order.username}}{{/if}}">用户名</th>
                        <th class="head1 sorting"  data-property="petname" data-dir="{{if order.petname}}{{order.petname}}{{/if}}">昵称</th>
                        <th class="head0">邮箱</th>
                        <th class="head1 sorting" data-property="isAdmin" data-dir="{{if order.isAdmin}}{{order.isAdmin}}{{/if}}">身份</th>
                        <th class="head0">编辑</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="head0">用户名</th>
                        <th class="head1">昵称</th>
                        <th class="head0">邮箱</th>
                        <th class="head1">身份</th>
                        <th class="head0">编辑</th>
                    </tr>
                </tfoot>

                <tbody>
                    {{each users as u i}}
                        <tr>
                            <td class=" sorting_1">{{u.username}}</td>
                            <td>{{u.petname}}</td>
                            <td>{{u.email}}</td>
                            <td class="center">{{if u.isAdmin}} 管理员 {{else}} 普通用户 {{/if}}</td>
                            <td><a href="/admin/user/edit/{{u.id}}" data-state="edit">修改</a>　　<a href="/admin/user/remove/{{u.id}}" data-state="delete">删除</a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                <span class="first paginate_button paginate_button_disabled" id="dyntable_first" onclick="getPage(1)">第一页</span>
                <span class="previous paginate_button paginate_button_disabled" id="dyntable_previous" onclick="getPage('{{page -1}}')">上一页</span>
                <span>
                    {{each pages as p}}
                        <span class="{{if p == page}}paginate_active{{else}}paginate_button{{/if}}" onclick="getPage('{{p}}')">{{p}}</span>
                    {{/each}}
                </span>
                <span class="next paginate_button" id="dyntable_next" onclick="getPage('{{page + 1}}')">下一页</span>
                <span class="last paginate_button" id="dyntable_last" onclick="getPage('{{pageCount}}')">最后一页</span>
            </div>
        </div>
    </div>
</div>
<script>
    var sortProperty = ""; // 排序属性
    var flag; // 用于标识延时执行keyup事件
    var search = $('#search').val(); // 搜索内容
    $(document).ready(function(){
        $("select").change(function(){
            getPage(1);
        });
        $("#dyntable thead th").each(function(){
            if($(this).data('dir') == 1 || $(this).data('dir') ==-1){
                sortProperty = $(this).data('property');
                sortDir = $(this).data('dir');
                if(sortDir == 1){
                    $(this).removeClass('sorting').removeClass('sorting_desc').addClass('sorting_asc');
                }else{
                    $(this).removeClass('sorting').removeClass('sorting_asc').addClass('sorting_desc');
                }
            }
        });
        $("#dyntable thead th").click(function(){
            sortProperty = $(this).data('property');
            if(sortProperty){
                sortDir *= -1;
                LoadUrl('.centercontent','/admin/users/1/'+$("select").val(),{sortProperty,sortDir,search});
            }
        });
        // 搜索
        function Search(){
            clearTimeout(flag);
            flag = setTimeout(function(){
                search = $('#search').val();
                LoadUrl('.centercontent','/admin/users/1/'+$("select").val(),{sortProperty,sortDir,search});
            },300)
        }
        // 搜索框输入内容是触发search()函数
        $('#search').keyup(function(){
            Search();
        });
    });
    function getPage(page){
        LoadUrl('.centercontent','/admin/users/'+page+'/'+$("select").val(),{sortProperty,sortDir,search});
    }
    $('.stdtable tbody a').click(function(){
        var t = $(this)
        if(t.data('state') == 'edit'){
            LoadUrl('.centercontent',t.attr("href"))
        }else{
            // jAlert插件
            $.jAlert({
            'type':'confirm',
            'confirmQuestion':'确认删除？',
            'confirmBtnText':'确认',
            'denyBtnText':'取消',
            'onConfirm': function(e){
                            $.get(t.attr("href"),function(res){
                                if(res.code == 'success'){
                                    $.jAlert({
                                        'content': "删除成功",
                                        'theme': 'green',
                                    });
                                    getPage(1);
                                }else{
                                    $.jAlert({
                                        'content': "删除失败",
                                        'content': res.message,
                                        'theme':'red'
                                    });
                                }
                            })
                            return false;
                        },
            'onDeny':function(e){
                return false;
            }
        })
        }
        return false;
    })
</script>