<h3>精彩游记</h3>
<span></span>
<div class="special-grids">
    <div class="col-md-6 special-left l-grids">
        <figure class="effect-bubba">
            <img src="/images/4.jpg" alt="" />
            <figcaption>
                <h4>Tour</h4>
                <p>She is free in her wildness, she is a wanderess, a drop of free water. She knows nothing of borders and cares nothing
                    for rules or customs. 'Time' for her isn’t something to fight against. Her life flows clean, with passion, like fresh
                    water.</p>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-6 special-right">
        <div class="sp-wid">
            <h4>彩云之南三月的风花雪月</h4>
            <p>如果说一千个读者心中有一千个哈姆雷特，那么一万个游客心中有一万个丽江也不为过。丽江是喧嚣的，你可以彻夜狂欢；丽江是宁静的，你可以坐在洒满阳光的院落发呆良久。这座充斥了爱与奇遇的风情古城，承载着满满的情意与感性。也许是丽江古城内小桥流水人家的柔软风情让人在静谧中左思右想，抑或是夜晚风格各异的酒吧让人魅惑张扬。不过，无论是蓝天白云，雪山潺流，炊烟人家，还是风情酒吧，闲适的一切生物，这一切怎能不让人为她张望，为她痴狂。</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="where-spl">
    <div class="col-md-6 special-right l-left">
        <div class="l-wid">
            <h4>Wherever you go becomes a part of you somehow.</h4>
            <p>What is that feeling when you're driving away from people and they recede on the plain till you see their specks dispersing?
                - it's the too-huge world vaulting us, and it's good-bye. But we lean forward to the next crazy venture beneath the
                skies.</p>
        </div>

    </div>
    <div class="col-md-6 special-left l-right l-grids">
        <figure class="effect-bubba">
            <img src="/images/1.jpg" alt="" />
            <figcaption>
                <h4>Tour</h4>
                <p>In sit amet sapien eros quibusdam et aut officiis debitis aut rerum Integer in tincidunt labore et dolore magna aliqua</p>
            </figcaption>
        </figure>
    </div>
    <div class="clearfix"></div>
</div>
<div class="spl-bot">
    <div class="col-md-6 special-left spl-bot-right l-grids">
        <figure class="effect-bubba">
            <img class="img-responsive" src="/images/2.jpg" alt=" " />
            <figcaption>
                <h4>Tour</h4>
                <p>In sit amet sapien eros quibusdam labore et dolore magna aliqua</p>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-6 spl-bot-left">
        <h4>Travel brings power and love back into your life.</h4>
        <p>I am awfully greedy; I want everything from life. I want to be a woman and to be a man, to have many friends and to have
            loneliness, to work much and write good books, to travel and enjoy myself, to be selfish and to be unselfish… You see,
            it is difficult to get all which I want. And then when I do not succeed I get mad with anger.</p>
    </div>
    <div class="clearfix"></div>
</div>