<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="石雯茜">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap stylesheet -->
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- stylesheet -->
	<script type="text/javascript" src="/js/plugins/jquery.js"></script>
	<!-- Required-js -->
	<script src="/js/plugins/bootstrap.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<link rel="stylesheet" type="text/css" href="/css/component.css" />
	<!-- css for banner slider -->
	<script src="/js/plugins/modernizr.custom.js"></script>
	<!-- js required for banner slider -->
	<link rel="stylesheet" href="/css/colorbox.css" />
	<!-- css for Gallery -->
	<script src="/js/plugins/jAlert.min.js"></script>
    <link rel="stylesheet" href="/css/jAlert.css" />
	<!-- js required for login alert -->
    <title>旅游信息网</title>
</head>
<body>
    <!-- slider -->
	<div class="w3-slider">
		{{include 'scenery/slider'}}
	</div>

	<!-- navbar -->
	<header id="navbar">
		{{include 'scenery/navbar'}}
	</header>

	<!-- wonder-notes -->
	<div class="agileits-w3layouts-specials" id="wonder-notes">
		{{include 'scenery/notes'}}
	</div>

	<!-- gallery -->
	<div class="gallery text-center" id="gallery">
		{{include 'scenery/gallery'}}
	</div>

	<!-- introduce -->
	<div class="news-section" id="introduce">

	</div>

	<!-- footer-section -->
	<footer>
		<div class="container">
			<div class="copyright">
				<p>Copyright &copy; 2017.Company name All rights reserved. <a href="/admin/login">管理员登录</a></p>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>

	<!--script-->
	<script src="/js/plugins/jquery.colorbox.js"></script>
	<!-- smoth-scrolling -->
	<script type="text/javascript" src="/js/plugins/move-top.js"></script>
	<script type="text/javascript" src="/js/plugins/easing.js"></script>
	<script>
		$('#gallery').load('/gallery');
		$('#introduce').load('/introduce');
		$(document).ready(function () {
			$(".group1").colorbox({ rel: 'group1' });
			$().UItoTop({ easingType: 'easeOutQuart' });
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
</body>
</html>