<div class="container">
    <h3 class="agileits_head">Gallery</h3>
    <span class="w3-line"></span>
    <div class="w3l_gallery_grids">
        <div class="bs-example bs-example-tabs wthree_example_tab" role="tabpanel" data-example-id="togglable-tabs">
            <div class="w3l_gallery_grids1">
                {{each pics as pic i}}
                <div class="col-md-4 w3l_gallery_grid">
                    <div class="agileinfo_gallery_grid">
                        <a class="pics" href="/images/scenery/{{pic.name}}" title="Road trip">
                            <div class="hovereffect">
                                <img src="/images/scenery/{{pic.name}}" alt=" " class="img-responsive" />
                                <div class="overlay">
                                    <p class="info">Road trip</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/each}}
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".pics").colorbox({ rel: 'pics', height: '80%' });
    });
</script>