<div class="container">
    <div class="introduce-head text-center">
        <h3 class="agileits_head">INTRODUCE</h3>
        <span class="w3-line"></span>
    </div>
    <div class="introduce-section">
        {{ each sceneries as s i}}
        <div class="col-md-4 introduce-grid">
            <img src="/images/scenery/{{s.picList[0]}}" alt=""  onerror="this.src='/images/default.jpg'"/>
            <div class="info">
                <h5>{{s.name}}</h5>
                <p>{{s.summary}}</p>
                <a class="more" href="#" data-toggle="modal" data-target="#myModal{{i}}">{{if s.content}}查看{{else}}　{{/if}}</a>
                <!-- Modal-->
                <div class="modal fade" id="myModal{{i}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{s.name}}</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{s.content}}</p>
                            </div>
                        </div>
                        <!-- //Modal content-->
                    </div>
                </div>
                <!-- //Modal-->
            </div>
        </div>
        {{/each}}
        <div class="clearfix"></div>
    </div>
    <div class="introduce-page">
        <ul class="pager">
            <li class="previous {{if page == 1}} disabled {{/if}}"><a href="javascript:void(0)" onclick="page('{{page - 1}}')">Previous</a></li>
            <li class="next {{if page == pageCount}} disabled {{/if}}"><a href="javascript:void(0)" onclick="page('{{page + 1}}')">Next</a></li>
        </ul>
    </div>
</div>
<script>
    function page(page){
        $('#introduce').load('/introduce/'+page);
    }
</script>