<h3>精彩游记</h3>
<span></span> {{if notes[0]}}
<div class="special-grids">
    <div class="col-md-6 special-left l-grids">
        <figure class="effect-bubba">
            <img src="/images/scenery/{{notes[0].scenery.picList[0]}}" alt="" />
            <figcaption>
                <h4>{{notes[0].scenery.name}}</h4>
                <p>{{notes[0].scenery.summary}}</p>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-6 special-right notes-content">
        <div class="sp-wid">
            <h4>{{notes[0].title}}</h4>
            <p>{{notes[0].content}}</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{{/if}} {{if notes[1]}}
<div class="where-spl">
    <div class="col-md-6 special-right l-left notes-content">
        <div class="l-wid">
            <h4>{{notes[1].title}}</h4>
            <p>{{notes[1].content}}</p>
        </div>
    </div>
    <div class="col-md-6 special-left l-right l-grids">
        <figure class="effect-bubba">
            <img src="/images/scenery/{{notes[1].scenery.picList[0]}}" alt="" />
            <figcaption>
                <h4>{{notes[1].scenery.name}}</h4>
                <p>{{notes[1].scenery.summary}}</p>
            </figcaption>
        </figure>
    </div>
    <div class="clearfix"></div>
</div>
{{/if}} {{if notes[2]}}
<div class="spl-bot">
    <div class="col-md-6 special-left spl-bot-right l-grids">
        <figure class="effect-bubba">
            <img src="/images/scenery/{{notes[2].scenery.picList[0]}}" alt="" />
            <figcaption>
                <h4>{{notes[2].scenery.name}}</h4>
                <p>{{notes[2].scenery.summary}}</p>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-6 spl-bot-left notes-content">
        <h4>{{notes[2].title}}</h4>
        <p>{{notes[2].content}}</p>
    </div>
    <div class="clearfix"></div>
</div>
{{/if}}