<div class="widget search">
    <form role="form">
        <input type="text" class="form-control search_box" id="search" autocomplete="off" placeholder="输入景点名称">
    </form>
</div>
<!--/.search-->

<div class="widget categories">
    <h3>最近留言</h3>
    <div class="row">
        <div class="col-sm-12 contact"></div>
        <a href="/contact/1" style="margin-left: 16px;">查看更多</a>
    </div>
</div>
<!--/.recent comments-->

<div class="widget archieve">
    <h3>热门景点</h3>
    <div class="row">
        <div class="col-sm-12 hot"></div>
    </div>
</div>
<!--/.archieve-->


<script>
    var flag; // 用于标识延时执行keyup事件
    var search = $('#search').val(); // 搜索内容
    // 搜索
    function Search() {
        clearTimeout(flag);
        flag = setTimeout(function () {
            search = $('#search').val();
            window.location.href = '/introduce/list/1?search=' + $('#search').val();
        }, 300)
    }
    // 搜索框输入内容是触发search()函数
    $('#search').keyup(function () {
        Search();
    });
    $(()=>{
        $('.contact').load('/recent');
        $('.hot').load('/hot');
    })
</script>