<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="石雯茜">
    <title>留言板</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/detail.css" rel="stylesheet">
    <script src="/js/plugins/jquery.js"></script>
    <script src="/js/plugins/bootstrap.js"></script>
</head>

<body>
    {{include 'header'}}
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    {{each contact as c}}
                    <div class="media">
                        <div class="media-body" onclick="answer('{{c.id}}')" style="cursor:pointer;">
                            <h4 class="media-heading">{{c.name}}</h4>
                            <p>{{c.comments}}</p>
                        </div>
                        {{each c.answer as answer}}
                        <div class="media">
                            <div class="media-left" style="padding:30px;"></div>
                            <div class="media-body">
                                <h4 class="media-heading">{{answer.name}}</h4>
                                <p>{{answer.content}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{include 'footer'}}
    <script>
        $.fn.jAlert.defaults.closeOnClick = true;
        function answer(id) {
            $.jAlert({
                'ajax': '/answer/' + id,
                'size': 'md',
                'onClose': function(){
                    window.location.href = '/contact';
                }
            });
        }
    </script>
</body>

</html>