<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="石雯茜">
    <title>留言板</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/plugins/jquery.js"></script>
    <script src="/js/plugins/bootstrap.js"></script>
</head>

<body>
    {{include 'header'}}
    <section class="container">
        <div class="center">
            <h2>留言板</h2>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8">
                    {{each contact as c}}
                    <div class="media comment_section">
                        <div class="media-body post_reply_comments">
                            <h3>{{c.name}}</h3>
                            <h4>{{c.createTime}}</h4>
                            <p>{{c.comments}}</p>
                             {{each c.answer as answer}}
                            <div class="media">
                                <div class="media-body" style="padding-left:30px;">
                                    <h4 class="media-heading">{{answer.name}}</h4>
                                    <p>{{answer.comments}}</p>
                                </div>
                            </div>
                            {{/each}}
                            <a href="javascript:void(0)" onclick="answer('{{c.id}}')">回复</a>
                        </div>
                    </div>
                    {{/each}}
                    <div id="contact-page clearfix">
                        <div class="status alert alert-success" style="display: none"></div>
                        <div class="message_heading">
                            <h4>我要留言</h4>
                        </div> 
                        <form id="contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>姓名 *</label>
                                        <input type="text" name="name" class="form-control" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" name="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>手机</label>
                                        <input type="url" name="phone" class="form-control">
                                    </div>                    
                                </div>
                                <div class="col-sm-7">                        
                                    <div class="form-group">
                                        <label>消息 *</label>
                                        <textarea name="comments" id="message" required="required" class="form-control" rows="8"></textarea>
                                    </div>                        
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg" required="required">提交</button>
                                    </div>
                                </div>
                            </div>
                        </form>     
                    </div><!--/#contact-page-->
                </div>
                <!--/.col-md-8-->
                
                <aside class="col-md-4">
                    {{include 'aside'}}
                </aside>

            </div>
            <!--/.row-->
        </div>
        <!--/.blog-->
    </section>
    {{include 'footer'}}
    <script>
        $.fn.jAlert.defaults.closeOnClick = true;
        function answer(id) {
            $.jAlert({
                'ajax': '/answer/' + id,
                'size': 'md',
                'onClose': function(){
                    window.location.href = '/contact';
                }
            });
        }
        $.fn.jAlert.defaults.closeOnClick = true;
        $.fn.jAlert.defaults.closeBtn = false;
        $("#contact-form").submit(function (ev) {
            ev.preventDefault()
            $.post('/contact', $(this).serialize(), function (res) {
                if (res.code == 'success') {
                    $.jAlert({
                        'content': res.message,
                        'onClose': function(){
                            window.location.href = '/contact';
                        }
                    });
                } else {
                    $.jAlert({
                        'content': res.message,
                        'theme': 'red'
                    });
                }
            })
        });
    </script>
</body>

</html>