<!-- footer-section -->
<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>Copyright &copy; 2017. <a href="/admin/login">管理员登录</a></p>
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="/">主页</a></li>
                    <li><a href="/">画册</a></li>
                    <li><a href="/contact">留言</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->