<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!--navbar-header-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a href="" class="navbar-brand">Road trip</a>
        </div>
        <!--navbar-collapse-->
        <div class="navbar-collapse collapse" id="nav">
            <ul class="navbar-nav nav navbar-right">
                <li><a href="/">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="drop-toggle" data-toggle="dropdown">游记 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">查看游记</a></li>
                        <li><a href="javascript:void(0)" onclick="addNotes()" class="js_add">添加游记</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)" id="login">登录</a></li>
                <li class="dropdown" id="user" style="display:none;">
                    <a href="#" class="drop-toggle" data-toggle="dropdown"><span class="petname"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">查看资料</a></li>
                        <li><a href="">修改资料</a></li>
                        <li><a href="/user/logout">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<script src="/js/notes.js"></script>
<script src="/js/plugins/jAlert.min.js"></script>
<link rel="stylesheet" href="/css/jAlert.css" />
<script src="/js/plugins/jquery.cookie.js"></script>
<script src="/js/index.js"></script>
<script>
    var user = $.cookie("user");
    if (user) {
        user = $.parseJSON(user.substr(2));
        $('#login').hide();
        $('.petname').html(user.petname);
        $('#user').show();
        $('.js_add').data('user', user._id);
    }
</script>