<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="石雯茜">
    <title>{{scenery.name}}</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/detail.css" rel="stylesheet">
    <script src="/js/plugins/jquery.js"></script>
    <script src="/js/plugins/bootstrap.js"></script>
</head>

<body>
    {{include 'header'}}
    <div class="main">
        <div class="container main-info">
            <div class="col-md-6">
                <div id="pic" class="carousel slide main-pic-wrap" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {{each scenery.picList as pic i}}
                        <li data-target="#pic" data-slide-to="{{i}}" {{if i==0 }}class="active" {{/if}}></li>
                        {{/each}}
                    </ol>
                    <div class="carousel-inner">
                        {{each scenery.picList as pic i}}
                        <div class="item {{if i==0}} active {{/if}}">
                            <img src="/images/scenery/{{pic}}">
                        </div>
                        {{/each}}
                    </div>
                    <a class="left carousel-control" href="#pic" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#pic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <!--col-md-6-->
            <div class="col-md-4 main-info-wrap">
                <h3 class="title">{{scenery.name}}</h3>
                <div class="main-score">
                    <span class="star-new"><span class="star-9"></span></span>5分
                </div>
                <div class="main-desc">
                    <p class="main-desc-p">
                        {{scenery.summary}}
                        <a class="click-more-info">[详细简介]</a>
                    </p>
                </div>
                <div class="main-intro">
                    <span class="main-besttime">
                        <span><i class="glyphicon glyphicon-map-marker"></i>到达与离开：{{scenery.address}}</span>
                    </span>
                    <span class="main-besttime">
                        <span><i class="glyphicon glyphicon-heart-empty"></i>景点类型：山峰</span>
                    </span>
                    <span class="main-besttime">
                        <span><i class="glyphicon glyphicon-heart-empty"></i>最佳季节：6月-8月是五台山的...</span>
                    </span>
                    <span class="main-dcnt">
                        <span><i class="glyphicon glyphicon-heart-empty"></i>建议游玩：2-3天</span>
                    </span>
                </div>
            </div>
            <!--col-md-4-->
        </div>
        <!--container-->
    </div>
    {{include 'footer'}}

</body>

</html>