<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="石雯茜">
    <title>{{scenery.name}}</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/plugins/jquery.js"></script>
    <script src="/js/plugins/bootstrap.js"></script>
    <style>
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
</head>

<body>
    {{include 'header'}}
    <section class="container">
        <div class="center">
            <h2>{{scenery.name}}</h2>
            <p class="lead">{{scenery.summary}}</p>
        </div>
        <div class="blog">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-item">
                        <img class="img-responsive img-blog" src="/images/scenery/{{scenery.picList[0]}}" width="100%" alt="" />
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 blog-content">
                                <h2>{{scenery.name}}</h2>
                                <p>{{scenery.content}}</p>
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->

                    <div class="media reply_section" id="map"></div>

                    <!--游记-->
                    <h1 id="comments_title">精彩游记</h1>
                    <div id="notes"></div>

                    <div id="contact-page clearfix">
                        <div class="status alert alert-success" style="display: none"></div>
                        <div class="message_heading">
                            <h4>我要写游记</h4>
                        </div>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>标题 *</label>
                                        <input type="text" name="title" class="form-control" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label>内容 *</label>
                                        <textarea name="content" id="message" required="required" class="form-control" rows="8"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-lg">提交</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--/#contact-page-->
                </div>
                <!--/.col-md-8-->
                
                <aside class="col-md-4">
                    {{include 'aside'}}
                </aside>

            </div>
            <!--/.row-->
        </div>
        <!--/.blog-->

    </section>
    {{include 'footer'}}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mRQlwaGGZHuRPbWuFOC3IBBh2BbtYIEo"></script>
    <script>
        // 加载游记
        $(() => {
            $('#notes').load('/notes/{{scenery.id}}')
        })
        $.fn.jAlert.defaults.closeOnClick = true;
        $('form').submit(function(ev){
            ev.preventDefault();
            var href = '/notes/add/{{scenery.id}}/'
            if (user) {
                href += user._id;
				$.post(href, $('form').serialize(), function (res) {
					if (res.code == 'success') {
						$.jAlert({
							'content': res.message
						})
					} else {
						$.jAlert({
							'content': res.message
						})
					}
				})
            } else {
                $.jAlert({
                    'content': '请先登录!',
                })
            }
        })
    </script>
    <script>
        var map = new BMap.Map("map");    // 创建Map实例
        var p_scenery = new BMap.Point({{scenery.location.lon }}, {{ scenery.location.lat }});
        map.centerAndZoom(p_scenery, 11);  // 初始化地图,设置中心点坐标和地图级别
        map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
        map.setCurrentCity("太原");          // 设置地图显示的城市 此项是必须设置的
        var mk = new BMap.Marker(p_scenery);
        map.addOverlay(mk);
        map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function (r) {
            if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                var p_current = r.point;
                var driving = new BMap.DrivingRoute(map, {
                    renderOptions: {
                        map: map, autoViewport: true, enableDragging: true //起终点可进行拖拽 
                    }
                });
                driving.search(p_current, p_scenery);
            }
            else {
                alert('failed' + this.getStatus());
            }
        }, { enableHighAccuracy: true })
    </script>
</body>

</html>