<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="石雯茜">
    <title>{{user.petname}}修改资料</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/plugins/jquery.js"></script>
    <script src="/js/plugins/bootstrap.js"></script>
</head>

<body>
    {{include 'header'}}
    <section class="container">
        <div class="center">
            <h2>{{user.petname}}修改资料</h2>
        </div>
        <div class="blog">
            <div class="row">
                <div class="col-md-8">
                    
                    <form action="" method="POST" role="form">
                    
                        <div class="form-group">
                            <label for="">用户名</label>
                            <input type="text" class="form-control" name="username" value="{{user.username}}">
                        </div>
                    
                        <div class="form-group">
                            <label for="">昵称</label>
                            <input type="text" class="form-control" name="petname" value="{{user.petname}}">
                        </div>

                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="email" value="{{user.email}}">
                        </div>

                        <div class="form-group">
                            <label for="">密码</label>
                            <input type="password" class="form-control" name="password" value="{{user.password}}">
                        </div>
                    
                        <button type="submit" class="btn btn-primary">修改</button>
                    </form>
                    
                </div>
                <!--/.col-md-8-->
                
                <aside class="col-md-4">
                    {{include 'aside'}}
                </aside>

            </div>
            <!--/.row-->
        </div>
        <!--/.blog-->
    </section>
    {{include 'footer'}}
    <script>
        $('form').submit(function (ev) {
            ev.preventDefault();
            $.post('/user/edit/{{user.id}}', $(this).serialize(),
                function (res) {
                    $.jAlert({
                        'content': res.message,
                        'closeOnClick': true,
                        'onClose': function (alert) {
                             location.reload();
                        }
                    });
                }
            )
        })
    </script>
</body>

</html>