html{
	min-height: 100%;
}
/*header*/
.navbar-default{
	background: #0c92f2;
}
.navbar-default .navbar-nav > li > a{
	color: rgba(255,255,255,.6);
}
.main{
	margin-top: 55px;
}
.user-footer{
	position: absolute;
	bottom: 0px;
}
.copyright {
    text-align: center;
    color: #808080;
}
